<footer class="pb_footer footer" role="contentinfo">
    <div class="container">
        <div class="row footer-content">
            <div class="col">
                <div class="copyright footer-parts">
                    <p>Copyright © 2020 Safira . All Rights Reserved.Design By Safira</p>
                </div>
            </div>
            <div class="col">
                <div class="text-right footer-parts">
                    <p>Logo</p>
                </div>
            </div>
        </div>

    </div>
</footer>