<footer class="pb_footer footer" id="section-contact" role="contentinfo">
    <div class="container">
        <div class="row footer-content">
            <div class="col">
                <div class="copyright footer-parts">
                    <p>Copyright © 2020 AnnyDe . All Rights Reserved.Design By AnnyDe</p>
                    <address><i class="far fa-envelope mr-1"></i>Adresa email pentru suport informational: <a class="support-email" href="mailto:foodpricesmd@gmail.com">foodpricesmd@gmail.com</a></address>
                    <p> </p>
                </div>
            </div>
            <div class="col-3">
                <div class="text-right footer-parts">
                    <img src="/assets/images/restaurant/logo.png" alt="Instant Logo" class="light">
                </div>
            </div>
        </div>

    </div>
</footer>