html {
  scroll-behavior: smooth;
}

.navigation-bar {
  background-color: #80b82d;
}

.welcome-part {
  margin-top: 134px;
  background-color: #e9ecef91;
  height: 60vh;
  background-size: unset;
  background-position-y: center;
}

.welcome-part .welcome-text {
  height: 60vh !important;
}

.welcome-text-heading {
  font-family: 'Courgette', cursive;
  color: black !important;
  font-size: 30px !important;
}

.main-heading {
  color: black !important;
}

.see-categories {
  background-color: #80b82d;
  color: white;
}

.see-categories:hover {
  background-color: white;
  color: #80b82d;
  border: 1px solid #80b82d;
}

.grid-style {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.about-section {
  padding: 6em 0 !important;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.category-body {
  position: relative;
  padding: 50%;
  background-size: cover;
  cursor: pointer;
  box-shadow: 2px 4px 16px #e9ecef;
}

.category-body:hover {
  opacity: 60%;
}

.category-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  padding: 20px 30px;
  background: transparent;
  background-color: #80b82d;
  color: white;
  text-align: center;
}

.footer {
  background-color: #80b82d;
  padding: 3em 0;
}

.footer-content {
  color: white;
}

.footer-parts {
  font-size: 15px;
  margin: 1em 0;
}


.pb_navbar .logo-center a .light {
  display: block;
}

.pb_navbar .logo-center a .dark {
  display: none;
}