.navigation-bar {
    background-image: url(/assets/images/subcategory-bg.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
}

.pb_navbar ul>li>a,
.pb_navbar ul>li>a.active {
    color: black !important;
}

.grid-style {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.subcategory-heading {
    text-align: center;
    padding: 55px;
}

.subcategory-cards {
    background-color: #80B82D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 16px #e9ecef;
    cursor: pointer;
    padding: 10px 0;
    width: 15%;
    margin: 5px;
}

/* .subcategory-cards:focus {
    background-color: white;
    color: #80B82D;
    border: 1px solid #80B82D;
    outline: none;
} */

.subcategory-cards:hover {
    background-color: white;
    color: #80B82D;
    border: 1px solid #80B82D;
}

.subcategory-cards.active {
    background-color: #e5e7ea;
    border: none;
    cursor: default;
    color: gray;
    box-shadow: none;
}

.subcategory-p {
    margin: 0;
    font-weight: 400;
}

#section-gallery {
    padding: 60px 0;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.product-card:hover {
    box-shadow: 2px 4px 16px #e9ecef;
}

.card-content {
    padding: 0;
    padding-top: 15px;
}

.cards-images {
    height: 100%;
    min-height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-plus {
    width: 30px;
}

.card-plus-sign {
    background-color: #f3f4f5;
}

.first-card-p {
    margin-bottom: 4px;
    font-size: 13px;
}

.second-card-p {
    color: #80B82D;
    font-weight: 400;
}

.footer {
    background-color: #80B82D;
    padding: 3em 0;
}

.footer-content {
    color: white;
}

.footer-parts {
    margin: 1em 0;
}