<% layout('../shared/layouts/admin') -%>
    <% block('title', "Add new category page") -%>

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add new category</h1>
        </div>
        <form class="user" action="add" method="post">
            <div class="card">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="category" placeholder="title of the category" aria-label="Recipient's username" aria-describedby="button-addon2">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="image" placeholder="image URL" aria-label="Recipient's username" aria-describedby="button-addon2">
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" id="button-addon2">Save</button>
                    </div>
                </div>
            </div>
        </form>