<% layout('../shared/layouts/main') -%> <% block('title', "Main page") -%> 
<% stylesheet('/assets/css/main-page-style.css') -%> 
<% script('/js/modules/home-page-module.js') -%>

<section
  class="welcome-part pb_cover_v1"
  style="background-image: url(assets/images/welcome-image.jpg);"
  id="section-home"
>
  <div class="container">
    <div class="welcome-text row align-items-center justify-content-center">
      <div class="col-6 mr-auto welcome-body">
        <div class="sub-heading welcome-text-heading">
          <p class="mb-4">
           Pentru ca meriti cel mai bun pret
          </p>
        </div>
        <div class="see-button">
          <a href="#section-gallery" class="btn see-categories"><i class="fas fa-angle-double-right mr-2"></i>Vezi tot sortimentul</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="pb_section about-section" id="section-about">
  <div class="container">
    <div class="grid-style">
      <div class="">
        <div class="">
          <p>
            <img
              src="/assets/images/fruits.jpg"
              alt="Instant Image"
              class="img-fluid"
            />
          </p>
        </div>
      </div>
      <div class="">
        <h2 class="mb-4 text-uppercase pb_letter-spacing-2">Despre noi</h2>
        <p>
          Alege cel mai convenabil pret pentru cea mai reusita cumparatura. Afla preturile actuale ale produselor alimentare, precum si a celor nealimentare: detergenti, cosmetice etc si organizeaza-ti
          planul de cumparaturi in orice moment.
        </p>
        <p>
          Descopera preturile actuale ale produselor alimentare necesare si fii liber sa iti stabilesti lista cumparaturilor
           cu cele mai bune preturi in orice moment.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section
  class="pb_md_py_cover text-center"
  style="background-image: url(assets/images/milk.jpg);"
>
  <div class="container">
    <div class="section-description p-0 row align-items-center justify-content-center">
      <div class="col-md-9 order-md-1">
        <h2 class="main-heading heading mb-3">Pret bun</h2>
        <h2 class="main-heading heading mb-3"> Cumparatura reusita</h2>
        <p class="main-heading sub-heading my-2">
          Fii la curent cu cele mai actuale preturi la produsele alimentare
        </p>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<section class="pb_section" id="section-gallery">
  <div class="container">
    <div class="row justify-content-center mb-5" data-bind="click: AddCategory">
      <div class="col-md-10 text-center">
        <h2 class="mb-4 text-uppercase pb_letter-spacing-2">
          Categorii de produse
        </h2>
      </div>
    </div>
    <div class="categories">
      <% categories.forEach(function(category) { %>
      <a
        href="/category/<%= category._id %>"
        class="category-body category card border-0"
        style="background-image: url('<%= category.image %>');"
      >
        <h5 class="category-title d-flex align-items-center">
          <%= category.title %>
        </h5>
      </a>
      <% }); %>
    </div>
  </div>
</section>
<!-- END section -->
