<% layout('../shared/layouts/main') -%>
<% block('title', "Products page") -%>
<% stylesheet('/assets/css/view-subcategory-page-style.css') -%>


<!-- END nav -->

<section class="pb_section about-section pb-0" id="section-about">
    <div class="container">
        <div class="subcategory-heading">
            <h2 class="mb-4 text-uppercase pb_letter-spacing-2">
                <%= category.title %>
            </h2>
        </div>
        <div class="grid-style">
            <a class="subcategory-cards card active">
                <p class="subcategory-p">Toate</p>
            </a>
            <% subcategories.forEach(function(subcategory) { %>
            <a href="/subcategory/<%= subcategory.id %>" class="subcategory-cards card">
                <p class="subcategory-p">
                    <%= subcategory.title %>
                </p>
            </a>
            <% }); %>
        </div>
    </div>
</section>
<!-- END section -->

<section class="pb_section" id="section-gallery">
    <div class="container">
        <div class="card-deck cards">
            <% products.forEach(product => { %>
            <div class="card">
                <img src="/assets/images/fruits.jpg" class="card-img-top" alt="...">
                <div class="card-body card-content text-center">
                    <h5 class="card-title"><%= product.title  %> </h5>
                </div>
                <div class="text-center mb-3">
                    <p class="first-card-p">Latest price</p>
                    <p class="second-card-p">80 lei MDL</p>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</section>
<!-- END section -->